#messages{
  height:300px;
  overflow-y: scroll;
}


#chat {
  padding: 25px;
  background-color: rgb(199, 170, 218);
  color: white;
  border-radius: 5px;
  margin-top: auto;
  margin-bottom: auto;
}
.text-center {
  color: white;
}


body {
  background-color: rgb(57, 36, 66);

} 



